<!DOCTYPE html>
<html>
    <head>
        <title>Dota 2 Win Predictor</title>
    </head>
    <body>
        <form id = "form">
            Radiant
            {% for i in range(5) %}
            <div id='radiant{{ i }}'>
                <br>
                Hero {{ i+1 }}:
                <select id = "rHero{{ i }}">
                    {% for hero in heroes %}
                        <option value="{{ hero.id }}">{{ hero.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
        <br>
        <div id = "Dire" style="text-align:right;margin-top: -120px"> 
        Dire
            {% for i in range(5) %}
            <div id='dire{{ i }}'>
            <br>
            
            <select id = "dHero{{ i }}">
                    {% for hero in heroes %}
                        <option value="{{ hero.id }}">{{ hero.name }}</option>
                    {% endfor %}
            </select>
            :Hero {{ i+1 }}
            </div>
            {% endfor %}
        <br>
        <br>
        </div>
        <div id="button" style="text-align:center">
            <input type="submit" value="Predict outcome">
        </div> 
        </form>
        <div id="result" style="text-align:center;margin-top: 50px"></div>
    </body>
    <footer id="team">
        {{ team }}
    </footer>
    <script type=text/javascript src="{{
        url_for('static', filename='last_pick.js') }}"></script>
</html>